:root{
    --body-bg :#F6F7F9;
    --nav-bg : #FFFFFF;
    --swap-btn : #3563E9;
    --nav-col : #696969;
    --footer-col: #696969;
    --car-bottom-col: #90A3BF;
}
@media screen and (max-width: 700px) {
  body {
    width: 100%;
    overflow-x: hidden;
  }

  .hero-content h1 {
    font-size: 2rem;
    line-height: 1.1;
    margin-bottom: 20px;
    text-align: center;
    font-weight: 500;
    font-family: neue-haas-grotesk-display, sans-serif;
  }
  .hero-content p {
    text-align: center;
    font-size: 1rem;
  }

  .hero-btns {
    flex-direction: column;
    text-align: center;
  }

  /* ham-burger */
  .header-nav {
    position: relative;
    z-index: 99;
  }

  .header-nav .nav-action {
    display: none;
  }

  .header-nav nav ul {
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    background-color: #f3f0f0;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px 0;
    z-index: 999;
    border: 0;

    border-radius: 10px;
    transform: translateY(-170%);
    transition: transform 0.3s ease;
  }
  .header-nav nav ul li a {
    color: var(--swap-btn);
    /* text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.5); */
  }

  .header-nav nav ul.active {
    transform: translateY(0);
  }
  .header-nav .ham-burger {
    display: block;
  }

  /* car-section responsive */

  .car-grid-container{
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

 .box .inner-content{
        position: relative;
        flex-direction: column;
    }
 .box-1,.box-2{
        grid-column: auto;
    }
    
  .box-1{
    display: none;
  }
  .box .inner-content{
    display: flex;
    flex-direction: column;
  }
  .box .inner-content h2{
    font-size: 20px;
    width: 300px;
    margin-bottom: 15px;
    font-weight: 500;
}
.box .inner-content p{
    font-size: 14px;
    width: 300px;
    margin-bottom: 15px;
    font-weight: 400;
    line-height: 1.6;
}
.box .inner-content .r-c img{
    margin-left: 100px;
    height: 120px;
    object-fit: cover;
}

/* car - details responsive */

  .car-box .r-l{
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .left{
    margin-bottom: 20px;
  }
  .r-l .right{
    width: 100%;
  }
  .r-l .right h1{
    font-size: 1rem;
  }
  .r-l .right .summary{
    font-size: 11px;
  }
  .right .pr-day h2{
    font-size: 1.4rem;
  }
  .right .pr-day p{
    font-size: 1.2rem;
}

/* booking responsive */













































  /* footer responsive */

  .footer-inner .social-links {
    display: flex;
    align-items: start;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .footer-inner .social-links .l-part {
    margin-bottom: 20px;
  }
  .footer-inner .social-links .r-part{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    padding-right: 10px;
  }

  .footer-inner .rights .l-footer{
    width: 100%;
  }
  .footer-inner .rights .l-footer p{
    text-align: start;
    font-size: 15px;
  }

  .footer-inner .rights{
    flex-direction: column-reverse;
    gap: 20px;
  }
  .footer-inner .rights .r-footer{
      width: 100%;
      justify-content: space-between;
  }
  .footer-inner .rights .r-footer p{
    font-size: 14px;
  }



}
