@import url(https://fonts.googleapis.com/css?family=Roboto:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
:root{
    --body-bg :#F6F7F9;
    --nav-bg : #FFFFFF;
    --swap-btn : #3563E9;
    --nav-col : #696969;
    --footer-col: #696969;
    --car-bottom-col: #90A3BF;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    overflow-y: scroll;
}
body{
    font-size: 16px;
    background-color: var(--body-bg);
    font-family: "Roboto";

}
.container{
    width: 100%;
    max-width: 1200px;
    padding: 0 20px;
    margin: 0 auto;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: #fff;
    z-index: 100;
    border-bottom: 1px solid #eee;
}
.header-nav{
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo a{
    text-decoration: none;
    text-transform: uppercase;
    color: var(--swap-btn);
    font-weight: 500;
    font-size: 1.4rem;
    letter-spacing: .5px;
}

nav ul{
    display: flex;
    list-style: none;
    gap: 30px;
}
ul li{
    display: inline-block;
}
a{
    text-decoration: none;
}
ul li a{
    color: var(--nav-col);
    font-size: 1rem;
    font-weight: 500;
    white-space: nowrap;
    position: relative;
    transition: .3s ease;
}
ul li a:after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 0%;
    height: 2px;
    background-color: var(--swap-btn);
    transition: width .3s ease;
}
ul li a:hover::after{
    width: 100%;
}
ul li a:hover{
    color: var(--swap-btn);
}
.nav-action a{
    background-color: var(--swap-btn);
    padding: 13px 25px;
    color: #eee;
    border-radius: 5px;
    text-transform: capitalize;
    transition: all .3s ease;
    border: 1px solid;
}
.nav-action a:hover{
    border: 1px solid #3563E9;
    background-color: #fff;
    color: #3563E9;

}

.ham-burger{
    display: none;
    cursor: pointer;
}

.ham-burger span{
    display: block;
    width: 20px;
    margin-top: 5px;
    border-top: 3px solid black;
    border-radius: 15px;
}
/* main */

.hero{
    position: relative;
    width: 100%;
    height:100vh;
    overflow: hidden;
    /* background-color: #de2c2c; */
}
.hero-video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -2;
}
.hero::after{
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.45);
    z-index: -1;
}
.hero-content{
    min-height: calc(100vh - 80px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 140px;
    color: #F6F7F9;
}
.hero-content h1{
    font-size: 6.5rem;
    line-height: 1.1;
    margin-bottom: 20px;
    text-align: center;
    font-weight: 500;
    font-family: neue-haas-grotesk-display, sans-serif;
}
.hero-content h1 .first-del{
    animation-delay: .3s;
}
.hero-content h1 .sec-del em{
    display: inline-block;
    font-family: "Playfair Display", serif;
    font-style: italic;
}
.hero-content h1 .sec-del{
    animation-delay: 0.5s;
}
.hero-content h1 .third-del{
    animation-delay: 0.8s;
}
.hero-content p{
    font-family: neue-haas-grotesk-display, sans-serif;
    font-size: 1.1rem;
    line-height: 1.8;
    margin-bottom: 35px;
    color: rgba(255,255,255,0.85);
    animation-delay: 1s;
}
.hero-btns{
    display: flex;
    gap: 20px;
    animation-delay: 1s;
    margin-top: 30px;
}
.hero-btns a{
    background-color: transparent;
    border: 2px solid silver;
    padding: 20px 25px;
    color: white;
    font-family: "Playfair Display", serif; 
}
.anim{
    opacity: 0;
    transform: translateY(30px);
    animation: moveup 1s linear forwards;
}
@keyframes moveup {
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

/* Footer */
.footer{
    background-color: var(--body-bg);
    padding: 45px 0;
}
.footer-inner{
    display: flex;
    flex-direction: column;
}
.footer-inner .border{
    border: 1px solid rgba(128, 128, 128, 0.214);
    margin-top: 30px;
    margin-bottom: 30px;
}
.footer-inner  .social-links{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-inner .social-links .l-part .logo-name{
    color: var(--swap-btn);
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.5rem;
    margin-bottom: 15px;
    letter-spacing: 1px;
}
.footer-inner .social-links .l-part .foot-para{
    color: var(--footer-col);
    margin-bottom: 15px;
    line-height: 2;
}
.footer-inner .social-links .r-part{
    justify-self: flex-end;
    display: flex;
    gap: 50px;
    padding-right: 10px;
}
.footer-inner .social-links .r-part .social-ul p{
    font-size: 1.2rem;
    margin-bottom: 20px;
    text-align: left;
    font-weight: 600;
}
.footer-inner .social-links .r-part .social-ul li{
    font-size: 1rem;
    margin-bottom: 20px;
    white-space: nowrap;
    display: block;
    color: var(--footer-col);
    font-weight: 400;
}
.footer-inner .rights{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-inner .rights .l-footer p{
  font-weight: 600;
  font-size: 1rem;
}

.footer-inner .rights .r-footer{
    display: flex;
    gap: 30px;
}
.footer-inner .rights .r-footer p{
    font-size: 1rem;
    font-weight: 600;
}

/* cars */
.cars{
    padding-top: 100px;
    background-color: var(--body-bg);
}
.car-grid-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 300px auto auto auto auto;
    gap: 20px;
}
.box-1{
    border-radius: 10px;
    background-image: url(./Assests/Ads\ 1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    grid-column-start: 1;
    grid-column-end: 3;
    overflow: hidden;
}
.box-2{
    overflow: hidden;

    border-radius: 10px;
    background-image: url(./Assests/Ads\ 2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    grid-column-start: 3;
    grid-column-end: 5;
}
.box{
    width: 100%;
    padding: 15px;
    position: relative;
    /* border: 1px solid black; */
    background-color: var(--nav-bg);
    border-bottom: 1px solid #eee;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    transition: all .2s linear;
    overflow: hidden;
}
.effect:hover{
    transform: translateY(-5px);
}
.box .inner-content{
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    color: #fff;
}
.box .inner-content .r-c{
    padding-right: 30px;
}
.box .inner-content h2{
    font-size: 2rem;
    width: 300px;
    margin-bottom: 15px;
    font-weight: 500;
}
.box .inner-content p{
    font-size: 1rem;
    width: 300px;
    margin-bottom: 15px;
    font-weight: 400;
    line-height: 1.6;
}
.box .inner-content button{
    margin-top: 20px;
    padding: 13px 25px;
    cursor: pointer;
    background-color: #3597dd;
    border: 0;
    color: white;
    letter-spacing: 1.2px;
    font-weight: 500;
    border-radius: 10px;
}
.box .inner-content .r-c img{
    height: 300px;
    object-fit: cover;
}
/* car cards */
.box .box-heading{
    display: flex;
    justify-content: space-between;
}
.box .box-heading .name p{
    color: grey;
    font-size: .8rem;
}

.box .box-body img{
    height: 200px;
    object-fit: cover;
    transform: translateX(50px);
}


.box .box-footer{
    display: flex;
    flex-direction: column;
    justify-content: space-between
}
.box .box-footer .upper{
    display: flex;
    justify-content: space-between;
    color: var(--car-bottom-col);
}
.box .box-footer .upper .litre{
    display: flex;
    align-items: center;
}
.box .box-footer .upper p{
    margin-left: 5px;
}
.box .box-footer .upper .Engine{
    display: flex;
    align-items: center;
}

.box .box-footer .upper .People{
    display: flex;
    align-items: center;
}

.box .box-footer .bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}
.box .box-footer .bottom .price{
    display: flex;
    align-items: center;
}
.box .box-footer .bottom .price p{
    color: var(--car-bottom-col);
}
.box .box-footer .bottom .rent-btn a{
    padding: 10px 20px;
    background-color: #3563E9;
    color: whitesmoke;
    border-radius: 4px;
}

/* car details section */
.car-details{
    padding-top: 100px;
    background-color: var(--body-bg);
    font-family: neue-haas-grotesk-display, sans-serif;
}
.inner-details{
    padding: 10px;
}
.car-box{
    margin-bottom: 20px;
}
.car-box .r-l{
    display: flex;
    justify-content: space-between;
}
.r-l .left{
    margin-right: 25px;
    width: calc(100% - 50%);
    background-color: #ffffff74;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.r-l .left img{
    width: 100%;
    object-fit: cover;
}
.r-l .right {
    width: calc(100% - 50%);
}
.right h1{
    font-family: neue-haas-grotesk-display, sans-serif;
    letter-spacing: .4px;
    font-weight: 600;
    font-size: 2.5rem;
    margin-bottom: 10px;
}
.right .summary{
    color: var(--car-bottom-col);
    text-transform: uppercase;
    font-size: .8rem;
    font-weight: 700;
    letter-spacing: 1.8px;
}
.right .pr-day{
    display: flex;
    align-items: center;
}
.right .pr-day h2{
    font-size: 2.3rem;
    font-weight: 500;
}
.right .pr-day p{
    font-size: 1.7rem;
    margin-left: 2px;
}
.right .para{
    color: #696969;
    margin-top: 10px;
    margin-bottom: 15px;
    line-height: 1.4;
}
.right .speciality h5{
    font-size: 1rem;
    margin-bottom: 10px;
}
.right .speciality li{
    list-style: disc;
    margin-bottom: 10px;
}
.right .book-btn{
    margin-top: 15px;
}
.right .book-btn a{
    padding: 10px 20px;
    background-color: #3563E9;
    color: whitesmoke;
    border-radius: 4px;
}

/* booking section */
.booking{
    position: relative;
    min-height: 100vh;
    padding-top: 100px;
    font-family: neue-haas-grotesk-display, sans-serif;
}
.booking::after{
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.45);
    z-index: -1;
}

.booking-bg img{
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.inner-booking{
    margin-top: 40px;
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
}
.book-form{
    width: 100%;
}
.book-form .form{
    padding: 32px;
    background-color: #fff;
}
.form .inner-content{
    display: flex;
    flex-direction: column;
}
.form .inner-content .vehicle-type h3{
    font-size: 1.3rem;
    font-weight: 600;
    color: black;
    margin-bottom: 10px;
}

.form .inner-content .vehicle-type .choose-car{
    display: flex;
    width: 260px;
    justify-content: center;
    border:2px solid #3563E9;
    border-radius: 4px;
}
.form .inner-content .vehicle-type .choose-car span{
    width: 100%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    padding: 10px;
    cursor: pointer;    
}
.form .inner-content .vehicle-type .choose-car .sel-one:hover{
    background-color: #3563E9;
    color: white;
}
.form .inner-content .vehicle-type .choose-car .sel-two:hover{
    background-color: #3563E9;
    color: white;
}
.form .inner-content .destination{
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}
.form .inner-content .destination .child-1{
    width: 50%;
    margin-right: 15px;
}
.destination .child-1 .desk-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.destination .child-1 .desk-info .l-info p{
    white-space: nowrap;
    font-weight: 600;
}
.l-info{
    font-weight: 600;
}
.child-1 .location-addr{
    position: relative;
    width: 100%;
    height: 60px;
    padding: 0 30px;
    padding-top:0 ;
    padding-bottom:0 ;
    padding-left: 40px;
    padding-right: 25px;
    border: 1px solid silver;
    border-radius: 4px;
}
.child-1 .location-addr:focus-within{
    border: 2px solid #3563E9;
}

.child-1 .location-addr input{
    width: 100%;
    height: 100%;
    border: 0;
    outline: 0;
    font-size: 1.1rem;
}
.child-1 .location-addr i{
    position: absolute;
    left: 10px;
    top: 17px;
    font-size: 1.2rem;
    color: #3563E9;
}
.destination .child-1 .desk-info .r-info label{
    white-space: nowrap;
    font-weight: 600;
}


.form .inner-content .destination .child-2{
    width: calc(100% - 50%);
    display: flex;
}
.child-2 .pick-up{
    margin-right: 15px;
}
.child-2 .l-info{
    margin-bottom: 10px;
}
.child-2 .r-info{
    display: flex;
    position: relative;
    width: 100%;
    height: 60px;
    padding: 0 30px;
    padding-top:0 ;
    padding-bottom:0 ;
    padding-left: 40px;
    padding-right: 25px;
    border: 1px solid silver;
    border-radius: 4px;
}
.child-2 .r-info input{
    width: 50%;
    height: 100%;
    border: 0;
    outline: 0;
    font-size: 1.1rem;
}
.child-2 .r-info i{
    position: absolute;
    left: 10px;
    top: 17px;
    font-size: 1.2rem;
    color: #3563E9;
}
.verification{
    display: flex;
    justify-content: space-between;
}
.grey{
    color: var(--car-bottom-col);
}
.black{
    color: black;
    font-weight: 600;
}
.age-selector{
    
}




































